/* -------------------------------------------
    Button
---------------------------------------------- */
.btn {
    font-family: $font-primary-semibold;
    background: $primary-button;
    font-size: 23px;
    color: $white;
    text-transform: capitalize;
    padding: 17px 50px;
    display: block;
    position: relative;
     @include border-radius(50px);
     @include transition(all 0.3s ease-in 0s);
     @include box-shadow( 0px 16px 48px #00000029);
    &:hover {
        background: $button-hover;
        color: $white;
    }
    @include media-mobile {
        padding: 12px 30px;
    }
}
